<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.colibria.android.sipservice"
          android:versionCode="1" android:versionName="0.1">

    <application android:icon="@drawable/icon" android:label="Sip Service">

        <!-- The main service -->
        <service android:name="com.colibria.android.sipservice.SipService" android:label="Sip Service">
            <intent-filter>
                <action android:name="com.colibria.android.sipservice.SipService"/>
                <action android:name="com.colibria.android.sipservice.SipService.INTENT_TCP_KEEPALIVE"/>
                <action android:name="com.colibria.android.sipservice.SipService.INTENT_RECONNECT"/>
            </intent-filter>
        </service>

        <!-- the settings screen -->
        <activity android:name="com.colibria.android.sipservice.SipServiceSettingsActivity"
                  android:label="Sip Service Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                 <action android:name="com.colibria.android.sipservice.SipService.INTENT_SERVICE_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

</manifest>
